@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal-content {
  background-color: rgba(61, 60, 60, 0.9) !important;
  height: fit-content;
}

.event-title {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2vw;
}

input {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
}

input[type="text"], input[type="number"], textarea, #message-text {
  background-color : white !important; 
  opacity: 1 !important;
  color: black !important;
}

.visibleForm {
  visibility: visible;
}

.hiddenForm {
  visibility: hidden;
}