.organizer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

profile-sidebar > * {
  margin: 5px;
}

h1 {
  color: white;
}

.profile .profile-container2 .profile-sidebar {
  width: 15rem !important;
}

.attendence {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.attendence > button {
  margin-right: 3vw;
}

.btn.btn-light.my-btn {
  justify-self: center;
}

.profile-container2 {
  display: flex;
}

.profile .profile-container2 {
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.map-event {
  margin: 0 !important;
}

div.profile-content {
  padding-left: 30px;
}

h2 {
  color: white;
}

.desktop-sticky-top-event > * {
  margin-top: 5px;
}

.desktop-sticky-top-event > h4 {
  margin-top: 2vh;
}

.profile-sidebar2 {
  background-color: #343a40 !important;
  border-radius: 10% !important;
  height: 25vh;
  width: 25vw;
}

.map-event {
  width: 50vw;
  height: 30vh;
}

.settings {
  position: relative;
  right: 30px !important;
  top: 5px;
}

.title-settings {
  position: relative;
  right: -30px !important;
}

.profile .profile-header .profile-header-content {
  left: 5vw !important;
}

.profile-sidebar-event {
  background-color: #343a40;
  border-radius: 10% !important;
  height: 170px;
  width: 350px;
  position: relative;
  right: -8vw;
  top: -15px;
}
