.ant-card {
  border-radius: 25px !important;
  height: 60vh;
}

.ant-card.ant-card-bordered.spotlight {
  background-color: #343a40 !important;
}

.event-info {
  position: relative;
  margin-left: 5px;
  font-size: 13px !important;
  color: white;
}

.popup-title-profile {
  position: relative;
  top: 35vh;
  font-size: 22px !important;
  size: 20vw;
  color: white;
}

.popup-title-profile:hover {
  cursor: pointer;
  text-decoration: underline;
}

.start-event {
  margin-bottom: 0 !important;
}

.eventDiv {
  width: 28vw;
  height: 80vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.ant-card-head {
  border-bottom: none;
}

.ant-card-bordered {
  border: none;
}

.component-width {
  width: fit-content;
}