@media all and (min-width: 480px) {
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login,
html {
  background-color: #222222;
}

input {
  margin-top: 10px !important;
}

.form-control {
  background-color: #3d3c3c !important;
  border: 2px solid #3d3d3c9d !important;
  border-radius: 20px !important;
  color: white !important;
}

/* .container {
  align-items: center;
  text-align: center;
} */

.form {
  padding-top: 10%;
  font-family: "Rubik", sans-serif;
}

.title-log {
  font-size: 30px;
  color: white;
}

.space {
  margin-right: 18px;
  line-height: 40px;
  font-size: 20px;
}

.next {
  background-color: #4e4d4d !important;
  border-radius: 49px;
  padding: 20px;
}

.next div,
label,
strong,
span {
  background-color: transparent;
}

.darker {
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

.divnext {
  display: inline-block;
  width: 45%;
  padding: 1%;
}

body {
  margin-top: 20px;
}

.profile .profile-header .profile-header-content {
  padding-left: 50px;
  padding-right: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  padding: 0 20px;
  left: 5vw;
}
.imgProfile {
  width: 12.5rem;
  height: 12.5rem;
  overflow: hidden;
  z-index: 1 !important;
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .imgProfile {
    width: 7rem;
    height: 7rem;
    margin: -3.75rem 0 0;
  }
}
.profile .profile-header .profile-header-content .profile-header-img img {
  max-width: 100%;
  width: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.profile .profile-container {
  padding: 20px 20px;
}

.profile .profile-container .profile-sidebar {
  width: 15rem !important;
  height: 7rem !important;
}
@media (max-width: 991.98px) {
  .profile .profile-container .profile-sidebar {
    position: static;
    font-size: 10px;
  }
}
.profile .profile-container .profile-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 991.98px) {
  .profile .profile-container .profile-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media (max-width: 991.98px) {
  .profile .profile-container .profile-content {
    padding-left: 0;
    position: static;
    font-size: 10px;
  }
}

.profile-sidebar {
  border-radius: 10% !important;
  height: 170px;
  width: 350px;
  position: relative;
  right: -7vw;
  top: -15px;
  left: 8vw;
}

@media (max-width: 991.98px) {
  .profile-sidebar {
    width: 250px;
    height: 100px;
    right: -8vw;
    top: -40px;
  }
}

@media (max-width: 480px) {
  .profile-sidebar {
    width: 60vw;
    height: 15vh;
    right: -25vw;
    top: -40px;
  }
}

.profile-sidebar > * {
  padding: 10px;
}

.desktop-sticky-top > * {
  margin-top: 5px;
  position: relative;
  left: 9vw;
}

.desktop-sticky-top > h4 {
  margin-top: 2vh;
}

.profile-fix {
  width: 90vw !important;
}

.container-fix {
  margin: 3.5vw 0 0 3.5vw !important;
}

h4,
h6 {
  color: white;
}

.buttonA {
  position: relative;
  margin-top: 5px;
}

h4,
h6 {
  color: white;
}

.my-btn {
  background-color: transparent !important;
  color: white !important;
  border-radius: 10% !important;
  border: white !important;
}

.component-width {
  width: inherit !important;
}

.icons {
  color: white;
  visibility: visible;
  height: 30px;
  width: 30px;
  display: flex;
  justify-items: right;
  justify-content: space-between;
}

.icons:hover {
  cursor: pointer;
}

.tab-pane.fade.active.show {
  height: 75vh !important;
}

.icons {
  color: white;
  visibility: visible;
  height: 30px;
  width: 30px;
  display: flex;
  justify-items: right;
  justify-content: space-between;
}

.profile-header {
  display: flex !important;
  align-items: center;
  padding-top: 40px;
}

.profile .profile-header {
  position: relative;
  padding-left: 1%;
  padding-right: 50%;
}

@media (min-width: 991.98px) {
  .pic-username {
    display: flex;
    justify-content: space-between;
  }
}

.profile-header-content {
  position: absolute;
  z-index: 10;
}

.desktop-sticky-top {
  background-color: #343a40;
  border-radius: 10% !important;
  width: 340px;
  left: 1vw;
  top: 2vh;
  position: relative;
}
