input[type="text"],
input[type="number"],
textarea,
#message-text {
  background-color: transparent !important;
  color: rgb(220, 220, 220) !important;
}

.MuiInputLabel-root {
  color: rgb(171, 170, 170) !important;
}

input::placeholder,
textarea::placeholder {
  color: rgb(220, 220, 220) !important;
}

.title {
  height: 8vh;
}

.MuiFormLabel-root {
  font-size: 2.7vh !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

label#guest-number-label.MuiFormLabel-root {
  font-size: 2.3vh !important;
}

.modal-content {
  background-color: rgba(61, 60, 60, 0.952) !important;
  height: fit-content;
}

input[type="text"].MuiInputBase-input {
  font-size: 4vh !important;
  font-weight: 500;
}

.MuiInputBase-input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: rgb(220, 220, 220) !important;
}

.MuiTypography-body1 {
  color: rgb(220, 220, 220) !important;
}
