ul.rtf {
  position: absolute !important;
  right: 2vw !important;
  top: 75vh !important;
}

button.rtf--mb {
  height: 50px !important;
  width: 50px !important;
  background-size: contain !important;
  background-color: #316daa;
}

button.rtf--ab {
  height: 45px !important;
  width: 45px !important;
  background-color: #18426d;
}

.marker-btn {
  background-color: transparent;
}

.marker-pic {
  background-image: none !important;
}

body {
  background-color: #222222 !important;
}

.map {
  top: 15vh;
  /* left: 8vw; */
  width: 80vw;
  height: 80vh;
  display: block;
}

.addEvent {
  position: absolute;
  top: 10vh;
  right: 32vw;
}

.events {
  margin-top: 10vh;
  height: 40vh;
  width: 80vw;
}

div.ant-col {
  width: 28vw;
}

.ant-list-grid .ant-col > .ant-list-item {
  margin-top: 40px;
}

.div-two {
  position: absolute;
  top: 94vh;
  /* left: 5vw; */
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 40px;
}

.btn {
  width: 120px;
  height: 38px;
  border: 3px solid #222222 !important;
  border-radius: 25px !important;
  font-size: 13px !important;
  font-weight: bold !important;
}

div.mapboxgl-popup-content {
  height: 20vh;
  width: 15vw;
  border: 3px solid #222222 !important;
  border-radius: 25px !important;
  background-size: cover;
  background-image: url(../data/p.jpg);
  min-width: 120px;
  max-width: 250px;
}

.arrow {
  position: relative;
  left: 91vw;
  bottom: 3vh;
}

.arrow:hover {
  cursor: pointer;
}

.popup-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.scroll {
  scroll-behavior: smooth;
}

.mapboxgl-popup-tip {
  visibility: hidden;
}
.popup-title {
  position: absolute;
  top: 40px !important;
  right: -5px;
  width: 100%;
  font-size: 20px !important;
  font-weight: bold !important;
  size: 20vw;
  color: white;
}

.title-organiser {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px !important;
  font-weight: bold !important;
  size: 20vw;
  color: white;
}

.tag {
  height: 2%;
  width: 80%;
}

.popup-custom {
  font-size: 20px !important;
  font-weight: bold !important;
  size: 20vw;
  color: white;
}

p.popup-date {
  font-size: 10px !important;
  color: white;
  margin-bottom: 0;
}

p.popup-date.end {
  margin-bottom: 5px;
}

.ui.input {
  color: #fff;
}

.ui.input input {
  border-color: #6c757d;
}

.datePicker {
  position: absolute !important;
  top: 90vh !important;
  left: 40vw !important;
}

.DateInput {
  background-color: transparent !important;
}

.DateRangePickerInput__withBorder {
  background-color: #222222 !important;
  border-width: 2px !important;
  border-radius: 500rem !important;
  border-color: #1e5286 !important;
  box-shadow: 1.5px 4px black;
}
.DateInput_input {
  padding: 13px 11px 11px 11px !important;
  margin-top: 0px !important;
  margin-left: 7px !important;
}

#endDate,
#startDate {
  color: white !important;
}

.searchIcon {
  color: black;
  width: 15px;
  height: 19px;
}

.searchButton {
  position: relative;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: #1e5b97 !important;
}

.searchButton:hover {
  background-color: #18426d !important;
}

.events {
  width: 100% !important;
}

.DateRangePickerInput {
  background-color: none !important;
}

.scroll-horizontal {
  height: 70vh !important;
}
