@media all and (min-width: 480px) {

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login,
html {
  background-color: #222222;
}

input {
  margin-top: 10px !important;
}

.form-control {
  background-color: #3d3c3c !important;
  border: 2px solid #3d3d3c9d !important;
  border-radius: 20px !important;
  color: white !important;
}

.container {
  align-items: center;
  text-align: center;
}

.form {
  padding-top: 10%;
  font-family: "Rubik", sans-serif;
}

.title-log {
  font-size: 30px;
  color: white;
}

.space {
  margin-right: 18px;
  line-height: 40px;
  font-size: 20px;
}

.next {
  background-color: #4e4d4d !important;
  border-radius: 49px;
  padding: 20px;
}

.next div,
label,
strong,
span {
  background-color: transparent;
}

.darker {
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

.divnext{
  display: inline-block;
  width:45%;
  padding:1%;
}
