* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: #222222;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: white;
}

.nav-links {
  z-index: 100 !important;
  display: flex;
  justify-content: space-around;
  color: white;
}

.nav-links li {
  z-index: 100 !important;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 13px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin-top: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    z-index: 100 !important;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #222222;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar {
  left: 8vw;
  right: 4vw;
  width: 84vw;
  position: relative;
}

.avatar {
  width: 4vw !important;
  height: 2vw !important;
}

.navigation-button-smaller {
  width: 60px;
}

/* .red-title {
  color: rgb(14, 129, 48);
} */

.navbar-brand {
  font-size: 25px !important;
}

.navbar-brand:hover {
  color: #316daa !important;
}
.ui.icon.input > i.icon {
  line-height: 1.7 !important;
}

.navSearch {
  position: relative !important;
  right: -26vw !important;
  top: -0.5vh;
}
