/* custom date picker kad se odlucimo za boje
.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white; 
  border: 1px solid #82e0aa;
}

.CalendarDay__selected {
  background: dark-red;
  color: white;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}
*/